body {
  background-color: black;
}

.headGroup {
  background-image: url("../Images/chicagoSkyline.jpg");
  background-size: 100%;
  background-position: bottom;
  background-size: fit;
  height: 30vh;
  width: 100%;
}
