body {
  background-color: #7F8086;
  background-image: url('./BrotherEye.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer {
  position: fixed;
  background-color: rgba(8, 8, 8, .75);
  bottom: 0;
  width: 100vw;
}
