.head {
  background-image: linear-gradient(to right, #7f8086, #080808);
  background-color: #7F8086;
  display: flex;
  justify-content: center;
  min-width: 100vw;
  padding: 0.5em;
}

.siteTitle {
  display: flex;
  justify-content: center;
  background-color: white;
  color: #ff0000;
  padding: 0.75em;
  margin: 0.5em;
  min-width: 90vw;
  max-width: 90vw;
  border-radius: 25px;
}
